
:root {--radius: 10px; --shadow: 0 10px 25px rgba(0, 0, 0, .3);
}
*{box-sizing: border-box; min-width: 0;}
html, body {margin: 0; padding: 0; width: 100%; font-family: verdana;}
.app {
    min-height: 100vh;
    padding: 18px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.2s ease-in-out;
    color: #fff;
    max-width: 100vw;
    overflow-x: hidden;
}
.app.day {background-image: url('Assets/Day.png');}
.app.night {background-image: url('Assets/Night.jpg');}
/* ------------------------------ Top Bar & Search Layout ------------------------------ */
.topbar{margin-bottom: 10px;}
.searchRow {display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; width: 100%;}
.modeToggle {display: flex; align-items: center; gap:3px; flex:1 0 1;}
.Input {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
::placeholder {color: #ccc;}
#locBtn {
    position: absolute; 
    right: 1px;
    background: transparent; 
    transition: all 0.2s;
    padding: 10px;
    border: none;
    border-radius: 999px;
}
#locBtn:hover {cursor: pointer; transform: scale(1.1); transition: all 0.4s;}
.fa-location-dot {color: rgb(192, 0, 0); font-size: 25px;}

#searchBtn {
    background: rgba(0, 0, 0, 0.4); 
    color: #fff; 
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.fa-magnifying-glass {color: #ddd; font-size: 18px;}

.Input input {
    flex: 1;
    padding: 12px 14px;
    border: 1px solid #666;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    color: #fff;
    outline: none;
}
/* -------------------------- Suggestions ----------------------------------- */
.suggestions {
  position: absolute;
  left: 0;
  top: calc(100% + 2px); /* directly beneath input */
  width: 100%;
  background: #222;
  z-index: 50;
  padding: 0;
  margin: 0;
  max-height: 220px;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 0.25s;
  box-shadow: 0 0 10px #000;
}

.suggestions:empty { display: none; }

.suggestions button {
  display: block;
  min-width: 40px;
  width: 100%;
  background: none;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: all .15s;
}

.suggestions button:hover,
.suggestions button:focus {
  background: rgba(255, 255, 255, 0.1);
}

/* --------------------------------- Toggle Button --------------------------------- */
.modeToggle img {width: 21px; height: 21px; position: absolute;}
.sun{ left: 2px;}
.moon {right: 2px; }
#mode {display: none;}
.switch {
    position: relative;
    width: 50px;
    height: 25px;
    background: #111;
    border-radius: 30px;
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.switch::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: 2.5px;
    left: 2px;
    transition: all 0.4s;
}
#mode:checked + .switch::after {left: 28px; transition: all 0.4s;}
/* --------------------------- Status IMessage --------------------------------- */

.status{
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%) translateY(-6px);
    background: rgba(0,0,0,.85);
    color:#fff;
    border-radius: 999px; 
    padding:10px 14px; 
    z-index:2000;
    opacity:0; 
    pointer-events:none; 
    transition: all 0.3s;
}
.status.error{ background: rgba(170,0,0,.92); }
.status.show{ opacity:1; transform: translateX(-50%) translateY(0); }

/* --------------------------------- Grid Layout ------------------------------------ */
.grid {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    align-items: start;
    gap: 15px;
    max-width: 1300px;
    margin: 0 auto;
}
.card {
    background: rgba(0, 0, 0, 0.7);
    border-radius: var(--radius);
    padding: 16px;
}
/* ------------------------------- CurrentCard Layout ------------------------------- */
.cityClock {
    font-size: 24px;
    width: 100%; 
    height: 100%;
}
.dateNow {font-size: 23px; margin-top: 10px;}

.currentCard {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
}
.currentLeft {
    display: flex; 
    flex-direction: column; 
    flex: 1 1 200px;
    gap: 25px;
    padding: 10px;
    align-items: center;
}
#tempNow {font-size: 34px;}
.feels {font-size: 18px;}
.sunTimes {display: flex; flex-direction: column; gap: 20px; font-size: 15px;}
.sunTimes div {display: flex; align-items: center;}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
}
.currentRight { 
    display: flex; 
    flex-direction: column; 
    flex: 1 1 auto;
    gap: 8px; 
    align-items: center;
    padding: 10px;
}
.currentRight .miniRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #666;
    border-radius: var(--radius);
}

/* ------------------------------- Other Card Components ------------------------------ */

.sunTimes img {width: 32px; height: 32px;}
.desc img {width: 130px; height: 130px;}
.miniRow img {width: 45px; height: 45px;}
.miniRow span, .sunTimes span, .feels span {font-size: 14px;}

/* ------------------- Strip Components (5 Days & Hourly Forecasts) ------------------- */
.forecast5 .tile img{ width: 37px;}
.forecast5 {display: flex; flex-direction: column; width: 100%; font-size: 15px;}
#forecastStrip .tile {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
}
.hourly {width: 100%; font-size: 15px;}
.hourly .tile img {width: 80px;}
#hourlyStrip {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding-bottom: 15px;
    scroll-snap-type: x proximity;
}
#hourlyStrip .tile {
    flex: 1;
    min-width: 130px;
    height: 170px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #666;
    border-radius: var(--radius);
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
} 
.tile .t {font-size: 15px;}
/* ------------------------------------ Footer ------------------------------------ */
footer {width: 100%; padding: 20px 0; text-align: center; background: #000;}
.footerText {margin: 4px 0; font-size: 16px; color: #fff; font-weight: lighter;}
footer a{text-decoration: none; color: #fff;}
footer a:hover {border-bottom: 1px solid #aaa; color: #aaa;}
span {font-size: 23px;}
/*================================= Media Queries ====================================*/
@media(max-width:768px) {
    .grid{
        display: flex;
        flex-direction: column;
    }
    .currentCard {
        width: 100%;
        align-items: center;
    }
    #tempNow {
        font-size: 22px;
        font-weight: 600;
    }
    .feels, #feelsLike {
        font-size: 13px;
    }
    .sunTimes, #sunrise, #sunset {
        font-size: 13px;
    }
    .desc {font-size: 15px;}
    .miniRow, .miniRow span {font-size: 15px;}
}

@media(max-width: 412px) {
    .searchRow {margin-bottom: 10px;}
    .currentCard {
        flex-direction: column;
    }

}